{% extends "base.html" %}

{% block titleBlock %}
    主机列表
{% endblock %}



{% block info %}

    <h1>主机列表</h1>

    {#  详情页代码块  #}
    <div class="modify-pwd-layer aux-self" id="EditHser" style="display:none;">
        <div class="layui-col-md10">
            <form class="layui-form layui-from-pane" id="updateUser" style="margin-top:20px;  z-index: 100000000">

                <input type="hidden" name="id" id="id">
                <div class="layui-form-item">
                    <label class="layui-form-label">内网IP</label>
                    <div class="layui-input-block">
                        <input type="text" name="ip" id="ip" required lay-verify="required" autocomplete="off"
                               placeholder="请输入内网IP" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">外网IP</label>
                    <div class="layui-input-block">
                        <input type="text" name="ip1" id="ip1" placeholder="请输入外网IP" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">主机配置</label>
                    <div class="layui-input-block">
                        <input type="text" name="product" id="product" placeholder="请输入主机配置" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">应用</label>
                    <div class="layui-input-block">
                        <input type="text" name="application" id="application" placeholder="请输入应用领域"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">主机可用区</label>
                    <div class="layui-input-block">
                        <input type="text" name="idc_jg" id="idc_jg" placeholder="请输入主机可用区域" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="text" name="status" id="status" placeholder="请输入状态" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" id="remark" placeholder="请输入备注" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top:40px" id="check">
                    <div class="layui-input-block">
                        <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="formChange">确认</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {#  搜索代码块  #}
    <div class="demoTable" style="padding: 15px">
        搜索内网IP地址：
        <div class="layui-inline">
            <input class="layui-input" id="find" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="queryHost">搜索</button>
        <button type="button" class="layui-btn layui-btn-normal" lay-event="add" id="addHost" style="float: right">添加
        </button>
    </div>

    {# 表格 #}
    <table id="host" lay-filter="test" class="layui-hide"></table>

    {#  删改查  #}
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    {#  增加主机  #}



    <script>
        layui.use(['table', 'form'], function () {
            var table = layui.table;
            var form = layui.form;

            //获取详情
            table.render({
                elem: '#host'
                , id: 'hostInfo'
                , height: 530
                , limit: 10
                , limits: [3, 5, 10]
                , method: 'post'
                , contentType: 'application/json'
                , toolbar: true
                , url: '/assetManage/host' //数据接口
                , page: true //开启分页
                , cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {
                        field: 'id',
                        title: 'ID',
                        width: 60,
                        fixed: 'left',
                        unresize: true,
                        sort: true,
                        totalRowText: '合计'
                    }
                    , {field: 'ip', title: '内网IP', width: 120}
                    , {field: 'ip1', title: '外网IP', width: 120}
                    , {field: 'product', title: '主机配置', width: 100}
                    , {field: 'application', title: '应用', width: 120}
                    , {field: 'idc_jg', title: '主机可用区', width: 120}
                    , {field: 'status', title: '状态', width: 140}
                    , {field: 'remark', title: '备注', width: 160}
                    , {field: 'create_time', title: '创建时间', width: 180}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200}
                ]]
                , response: {
                    statusName: 'errno', //规定返回的状态码字段为code
                    statusCode: 0, //规定成功的状态码味200
                    countName: 'count', // 对应 count
                    dataName: 'data', // 对应 data
                    msgName: 'errmsg' //规定状态信息的字段名称，默认：msg
                }
            });

            // 查找主机
            $('#queryHost').on('click', function () {
                var find = document.getElementById("find").value;
                table.reload('hostInfo', {
                    where: {'ip': find}
                })
            });

            // 添加主机
            $('#addHost').on('click', function () {
                $("#check").show();
                $("#ip").val();
                $("#ip1").val();
                $("#product").val();
                $("#application").val();
                $("#idc_jg").val();
                $("#status").val();
                $("#remark").val();
                layer.open({
                    type: 1,
                    title: "添加主机",
                    area: ['520px', '590px'],
                    content: $("#EditHser"),
                    success: function (layero) {
                        var mask = $(".layui-layer-shade");
                        mask.appendTo(layero.parent());
                    }
                });

            });


            //删改查
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                var hostId = data.id;
                //查看
                if (obj.event === 'detail') {
                    $("#check").hide();
                    $("#ip").val(data.ip);
                    $("#ip1").val(data.ip1);
                    $("#product").val(data.product);
                    $("#application").val(data.application);
                    $("#idc_jg").val(data.idc_jg);
                    $("#status").val(data.status);
                    $("#remark").val(data.remark);
                    $("#id").val(data.id);
                    layer.open({
                        type: 1,
                        title: "主机信息",
                        area: ['520px', '590px'],
                        content: $("#EditHser"),
                        success: function (layero) {
                            var mask = $(".layui-layer-shade");
                            mask.appendTo(layero.parent());
                        }
                    });

                    // layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.open({
                        title: '警告'
                        , content: '是否要删除第【' + hostId + "】条主机记录"
                        , icon: 2
                        , yes: function () {
                            //按钮【按钮一】的回调
                            $.ajax({
                                url: '/assetManage/host/' + hostId,
                                type: 'DELETE',
                                success: function (result) {
                                    layer.msg('删除成功！', {icon: 1});
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000)
                                }
                            });
                        }
                    });
                } else if (obj.event === 'edit') {
                    $("#check").show();
                    $("#ip").val(data.ip);
                    $("#ip1").val(data.ip1);
                    $("#product").val(data.product);
                    $("#application").val(data.application);
                    $("#idc_jg").val(data.idc_jg);
                    $("#status").val(data.status);
                    $("#remark").val(data.remark);
                    $("#id").val(data.id);
                    layer.open({
                        type: 1,
                        title: "修改主机信息",
                        area: ['520px', '590px'],
                        content: $("#EditHser"),
                        success: function (layero) {
                            var mask = $(".layui-layer-shade");
                            mask.appendTo(layero.parent());
                        }
                    });
                }
            });

            form.on('submit(formChange)', function (data) {

                var hostId = data.field.id;
                var url, method;
                if (hostId == "") {
                    url = "/assetManage/host/add";
                    method = "post"
                } else {
                    url = '/assetManage/host/' + data.field.id;
                    method = "put"
                }
                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(data.field),
                    {#data:JSON.parse(data.field),#}
                    success: function (msg) {
                        if (msg != null) {
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("修改成功", {icon: 6});
                            setTimeout(function () {
                                layer.closeAll();//关闭所有的弹出层
                                location.reload();
                            }, 500);
                            {#加载层 - 风格#}
                        } else {
                            layer.msg("修改失败", {icon: 5});
                        }
                    }
                });
                return false;
            })

        });

        /*
        // 查看详情
        function show_detail(e) {
            var host_id = $(e).parent().parent().parent().children().eq(1).find("div").text();
            layer.open({
                title: "主机详情"
                , content: "/assetManage/host/" + host_id
                {#,content: window.location.href = "/assetManage/host/" + host_id#}
                , type: 2
                , area: ['400px', '350px']
            });

        }

        // 删除主机
        function delete_host(e) {
            var host_id = $(e).parent().parent().parent().children().eq(1).find("div").text();

            layer.open({
                title: '警告'
                , content: '是否要删除第【' + host_id + "】条主机记录"
                , icon: 2
                , yes: function () {
                    //按钮【按钮一】的回调
                    $.ajax({
                        url: '/assetManage/host/' + host_id,
                        type: 'DELETE',
                        success: function (result) {
                            layer.msg('删除成功！', {icon: 1});
                            setTimeout(() => {
                                location.reload();
                            }, 1000)
                        }
                    });
                }
            });

        }
        */


    </script>
{% endblock %}